################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/PracticalAssignment/.vs/PracticalAssignment/v15/Server/sqlite3

Server/PracticalAssignment/PracticalAssignment\.Database/bin/
Server/PracticalAssignment/PracticalAssignment\.Database/obj/

Server/PracticalAssignment/PracticalAssignment\.WebAPI/bin/
Server/PracticalAssignment/PracticalAssignment\.WebAPI/obj/


Server/PracticalAssignment/PracticalAssignment\.DTO/obj/

Server/PracticalAssignment/PracticalAssignment\.Services/bin/

Server/PracticalAssignment/PracticalAssignment\.Services/obj/

Server/PracticalAssignment/\.vs/

Server/PracticalAssignment/PracticalAssignment\.DTO/bin/

Server/PracticalAssignment/PracticalAssignment\.Infrastructure/bin/

Server/PracticalAssignment/PracticalAssignment\.Infrastructure/obj/

Client/PracticalAssignmentPortal/\.vs/

Server/PracticalAssignment/Assignment\.Database\.Entities/obj/
