
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-login100" ng-controller="authCtrl">
    <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url('../content/login-temple/images/bg-01.jpg')">
            <span class="login100-form-title-1">
                Sign In
            </span>
        </div>

        <form class="login100-form validate-form">
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100">Username</span>
                <input class="input100" ng-model="user.userName" type="text" name="username" placeholder="Enter username">
                <span class="focus-input100"></span>
            </div>
           
            <div class="container-login100-form-btn">
                <button class="login100-form-btn" ng-click="Login()">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>


