<!DOCTYPE html>
<html ng-app="appAuth">
<head>
    <title>@ViewData["Title"] - Practical.PortalAdmin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <environment include="Development">
        <link rel="stylesheet" href="~/content/login-temple/images/icons/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/vendor/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/content/login-temple/css/main.css">

    </environment>
</head>
<body>
    <div class="limiter">
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/content/login-temple/js/main.js"></script>

        <script src="~/content/login-temple/vendor/animsition/js/animsition.min.js"></script>
        <script src="~/content/login-temple/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/content/login-temple/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/content/login-temple/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/content/login-temple/vendor/countdowntime/countdowntime.js"></script>
        <!--=========================================CONFIG ANGULARJS======================================================-->
        <!--angular-->
        <script src="~/lib/angular.js/angular.js"></script>
        <script src="~/lib/angular.js/angular-route.js"></script>
        <script src="~/lib/angular.js/angular-sanitize.js"></script>
        <script src="~/lib/oclazyload/ocLazyLoad.js"></script>
        <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>

        @*<script src="~/lib/angular.js/angular-touch.min.js"></script>
            <script src="~/lib/angular.js/angular-animate.min.js"></script>
            <script src="~/lib/angular.js/angular-aria.min.js"></script>
            <script src="~/lib/angular.js/angular-cookies.min.js"></script>
            <script src="~/lib/angular.js/angular-loader.min.js"></script>
            <script src="~/lib/angular.js/angular-message-format.min.js"></script>
            <script src="~/lib/angular.js/angular-messages.min.js"></script>
            <script src="~/lib/angular.js/angular-mocks.js"></script>
            <script src="~/lib/angular.js/angular-parse-ext.min.js"></script>
            <script src="~/lib/angular.js/angular-resource.min.js"></script>*@
        <!--angular-->
        <script src="~/src/app/appAuth.js"></script>
        <script src="~/src/services/serviceAuth.js"></script>
        <script src="~/src/api/api.js"></script>
        <script src="~/src/common/common.js"></script>
        <script src="~/src/controllers/loginCtrl/loginCtrl.js"></script>

    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
